@font-face {
    font-family: "Attack"; /* Гарнитура шрифта */
    src: url(fonts/AttackGraffiti-3zRBM.ttf); /* Путь к файлу со шрифтом */
}
a{
    text-decoration: none;
}
* {
    overflow-x: hidden;
    scrollbar-width: none;  /* толщина */
    margin-left: 0%;
}

body{
    background-color: black;
    margin-top: 5%;
}



#logo{
    font-size: 4em;
    text-align: center;
}

.logo{
    color: orange;
    font-family: "Attack";
    position: fixed;
    text-shadow: 0px 1px 10px orange;
    -webkit-text-stroke: 1px black;
    left: 4%;
}
.logo span{
    color: orange;
    font-family: "Attack";
    text-shadow: 0px 1px 10px orange;
    -webkit-text-stroke: 1px black;
}
.photo{
    padding-left: 10%;
    text-align: center;
    scrollbar-width: none;  /* толщина */
    overflow-y: scroll;
    height: auto;
}
.right-menu{
    position: fixed;
    font-size: 2em;
    right: 4%;
    text-align: center;
    color: white;
}
.right-menu a{
    color: white;


}
.right-menu a:hover{
    color: orange;

}

.scroll{
    overflow-y: scroll;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 700px;
    color: white;
}
.news{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: rgba(255, 193, 68, 0.47);
    height: 500px;
    margin-top: 5%;
    margin-bottom: 40%;
}
.label{
    text-align: center;
    color:navajowhite;
}
.author{
    text-align: left;
    color:rgb(255, 220, 177);
}
.text{
    float: left;
    height: 300px;
}
.image_news{
    text-align: end;
    margin-right: 5%;
    display: block;
    height: 300px;
}
.like{
    text-align: end;
}